$border-color: #d3d3d3;

.Question {
    display: flex;
    flex-direction: column;
    margin: 100px auto auto auto;
    font-size: 20px;
    width: 60%;
    border-bottom: 1px dashed black;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 50px;
    &:last-of-type {
        border-bottom: 0;
    }
}

.QuestionMessage {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.QuestionAnswer {
    width: 80%;
    margin: auto;
    border: 1px solid $border-color;
    resize: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    &:focus {
        border: 1px solid darken($border-color, 20%) ;
    }
}

.QuestionButton {
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    background-color: #5731f1;
    color: white;
    border-radius: 5px;
    border: 1px solid $border-color;
    &:hover {
        background-color: #6a46fa;
    }
}